body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label, input {
    margin: 5px 0;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007BFF;
}